@import url("https://fonts.cdnfonts.com/css/meddon");
@import url("https://fonts.cdnfonts.com/css/playfair-display");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: black;
  background: inherit;
}
.each-slide {
  padding: 0 10px;
  /* Adjust padding to create gap between slides */
}
.scrollTop {
  width: 40px;
  height: 40px;
  background-color: #b39476;
  position: fixed;
  bottom: -20px;
  opacity: 0;
  border-radius: 6px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  z-index: 1000;
  box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
